html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background-image: url(../img/cbre01.png);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
}
.intro {
    font-family: 'Lato', sans-serif;
    width: 700px;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    display: inline-block;

 } 
.intro span { 
    font-family: 'Lato', sans-serif;
    background:#ebebeb; 
    padding:0 10px; 
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: white;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: black;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 10px;
    color: black;
    transition: 0.5s ease;
}

.banner-area {
    background-image: url(i);
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 45%;
}

.banner-area h2 {
    margin-top: 40%;
    font-family: 'Lato', sans-serif;
    position: relative;
    color: white;
    font-size: 10vw;
    -webkit-text-stroke: 0.3vw #012a2d;
    text-transform: uppercase;
}

.banner-area h2::before {
    content: attr(data-text);
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #012a2d;
    -webkit-text-stroke: 0vw #012a2d;
    border-right: 2px solid #012a2d;
    overflow: hidden;
    animation: animate 6s linear infinite;
}  
@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    font-family: 'Lato', sans-serif;
    background: #ebebeb;
}

.content-area h2 {
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    margin-top: 8%;
}

.content-area p {
    margin-top: 4%;
    padding: 2% 0px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
}

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
img {
    width: 100%;
    height: 180px;
    float: left;
    transition: 0.5s ease;
    margin-bottom: 5%;
}

.bigbody {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card {
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 100px 100px 70px;
    grid-template-areas: "image" "text" "bot";
    border-radius: 30px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: 'Lato', sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    justify-content: center;

}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin-left: 3px;
    margin-right: 3px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px white;
}

.card {
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}



.logo img {
    width: 183px;
    height: 100px;
}
